$selection_color: #0066ff;
$hover_selection_color: #4d94ff; 

.cnt-container {
    svg {

        .cnt-selected {
            color: $selection_color; 
            fill: currentColor;
        }

        .cnt-selectable {
            pointer-events: bounding-box;
        }

        .cnt-selectable:hover {
            fill: $hover_selection_color;
        }

        rect.cnt-areaSel {
            stroke          : gray;
            stroke-dasharray: 4px;
            stroke-opacity  : 0.5;
            fill            : $selection_color;
            fill-opacity    : .3;
        }
    }

    .cnt-emabox {
        display: none;
        font-family: Helvetica, Arial, Sans-Serif;
        font-weight: bold;
        line-height: 2em;
        background-color: $selection_color;
        color: #fff;
        padding: 5px;
        font-size: 30px;
        position: fixed;
        top: 1em;
        left: 1em;
    }

    .cnt-uploadbox {

        .btn-file {
            position: relative;
            overflow: hidden;

            input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
        }   

        padding: 5px;
        background-color: $selection_color;
        position: fixed;
        top: 1em;
        right: 1em;
    }
}